INFLUXDB_USERNAME=
INFLUXDB_PASSWORD=
INFLUXDB_TOKEN=

GRAFANA_USERNAME=
GRAFANA_PASSWORD=

S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-1

NEST_CLIENT_ID=1234567-example.apps.googleusercontent.com
NEST_CLIENT_SECRET=
NEST_CODE=
NEST_REFRESH_TOKEN=
NEST_DEVICE_NAME=enterprises/<uuid>/devices/
